.DS_Store
*/target/**
/target/
**/target/**
**/.classpath
**/.settings
**/*.prefs
**/*.component
**/*.facet.core.xml
**/bin/**
**/.project
*/.project/*
**/.project/**

#jetbrains IDE
.idea
*/*.iml
*.iml